h2{
   border-style: solid;
   border-color: black;
}

.space1{
    height: 50px;
}

.row1{
    height : 200px;
}
.book1{
    width: 20%;
    height: 100%;
    background-color: plum;
}
.book2{
    width: 20%;
    height: 100%;
    background-color: plum;
}
.book3{
    width: 20%;
    height: 100%;
    background-color: plum;
}
.book4{
    width: 20%;
    height: 100%;
    background-color: plum;
}


.content1{
    height: 80%;
    width: 100%;
}
.image1{
    height: 100%;
    width: 50%;
}
.details1{
    height: 100%;
    width: 50%;
}
.detail1{
    height: 70%;
    width: 100%;
}
.button1{
    height: 20%;
    width: 100%;
}
.content2{
    height: 80%;
    width: 100%;
}
.image2{
    height: 100%;
    width: 50%;
}
.details2{
    height: 100%;
    width: 50%;
}

.detail2{
    height: 70%;
    width: 100%;
}
.button2{
    height: 20%;
    width: 100%;
}
.content3{
    height: 80%;
    width: 100%;
}
.image3{
    height: 100%;
    width: 50%;
}
.details3{
    height: 100%;
    width: 50%;
}
.detail3{
    height: 70%;
    width: 100%;
}
.button3{
    height: 20%;
    width: 100%;
}
.content4{
    height: 80%;
    width: 100%;
}
.image4{
    height: 100%;
    width: 50%;
}
.details4{
    height: 100%;
    width: 50%;
}
.detail4{
    height: 70%;
    width: 100%;
}
.button4{
    height: 20%;
    width: 100%;
}

.space2{
    height: 50px;
}

.row2{
    height : 200px;
}

.book5{
    width: 20%;
    height: 100%;
    background-color: plum;
}
.book6{
    width: 20%;
    height: 100%;
    background-color: plum;
}
.book7{
    width: 20%;
    height: 100%;
    background-color: plum;
}
.book8{
    width: 20%;
    height: 100%;
    background-color: plum;
}

.content5{
    height: 80%;
    width: 100%;
}
.image5{
    height: 100%;
    width: 50%;
}
.details5{
    height: 100%;
    width: 50%;
}
.detail5{
    height: 70%;
    width: 100%;
}
.button5{
    height: 20%;
    width: 100%;
}
.content6{
    height: 80%;
    width: 100%;
}
.image6{
    height: 100%;
    width: 50%;
}
.details6{
    height: 100%;
    width: 50%;
}
.detail6{
    height: 70%;
    width: 100%;
}
.button6{
    height: 20%;
    width: 100%;
}
.content7{
    height: 80%;
    width: 100%;
}
.image7{
    height: 100%;
    width: 50%;
}
.details7{
    height: 100%;
    width: 50%;
}
.detail7{
    height: 70%;
    width: 100%;
}
.button7{
    height: 20%;
    width: 100%;
}
.content8{
    height: 80%;
    width: 100%;
}
.image8{
    height: 100%;
    width: 50%;
}
.details8{
    height: 100%;
    width: 50%;
}
.detail8{
    height: 70%;
    width: 100%;
}
.button8{
    height: 20%;
    width: 100%;
}
